
@{
    ViewData["Title"] = "Login";
}
@model UserLoginDto
<section class="h-100 h-custom ">
    <div class="container py-5 h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-6">
                <div class="card rounded-3">
                    <img src="https://www.cpajournal.com/wp-content/uploads/2019/02/GettyImages-1001713236-730x330.jpg"
                         class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                         alt="Sample photo">
                    <div class="card-body p-4 p-md-5 bg-dark">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-white" style="text-align:center">Daxil ol</h3>

                        <form class="px-md-2" method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example1q" class="form-control" placeholder="İstifadəçi adı" asp-for="UserName" />
                                <span asp-validation-for="UserName"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="form3Example1q" class="form-control" placeholder="Şifrə" asp-for="Password" />
                                <span asp-validation-for="Password"></span>
                            </div>

                            <button type="submit" class="btn btn-success btn-lg mb-1">Daxil olmaq</button>
                            <p><a class="text-white-50" asp-controller="Account" asp-action="ForgetPassword">Şifrənizi unutmusunuz?</a></p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>