
@{
    ViewData["Title"] = "Register";
}

@model UserRegisterDto
<section class="h-100 h-custom ">
    <div class="container py-5 h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-6">
                <div class="card rounded-3">
                    <img src="https://www.cpajournal.com/wp-content/uploads/2019/02/GettyImages-1001713236-730x330.jpg"
                         class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                         alt="Sample photo">
                    <div class="card-body p-4 p-md-5 bg-dark">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-white" style="text-align:center">Registrasiya</h3>

                        <form class="px-md-2" method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example1q" class="form-control" placeholder="Tam ad" asp-for="FullName" />
               
                                <span asp-validation-for="FullName"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example1q" class="form-control" placeholder="İstifadəçi adı" asp-for="UserName" />
                                <span asp-validation-for="UserName"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <input type="email" id="form3Example1q" class="form-control" placeholder="Email" asp-for="Email" />
                                <span asp-validation-for="Email"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="form3Example1q" class="form-control" placeholder="Şifrə" asp-for="Password" />
                                <span asp-validation-for="Password"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="form3Example1q" class="form-control" placeholder="Şifrənin təkrarı" asp-for="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword"></span>

                            </div>


                            <button type="submit" class="btn btn-success btn-lg mb-1">Daxil olmaq</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

