
@{
    ViewData["Title"] = "Create";
}

@model ServicePostDto
<div class="row">
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label>Başlıq</label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="Başlıq">
                        <span asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label>Açıqlama</label>
                        <input type="text" class="form-control" asp-for="Description" placeholder="Açıqlamaə">
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label>İcon</label>
                        <input type="text" class="form-control" asp-for="Icon" placeholder="Icon">
                        <span asp-validation-for="Icon"></span>
                    </div>
                    <div class="form-group">
                        <label>İconUrl</label>
                        <input class="form-control" asp-for="IconUrl" placeholder="IconUrl">
                        <span asp-validation-for="IconUrl"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Yadda saxla</button>
                    <button class="btn btn-light" asp-action="index" asp-controller="Service">Ləğv et</button>
                </form>
            </div>
        </div>
    </div>
</div>

