@{
    ViewData["Title"] = "Default";
}
@model List<ServiceGetDto>
@if (Model.Count != 0)
{
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Servislər</h5>
                <h1 class="display-4">Xəstəxanamızın təklif etdiyi servislər</h1>
            </div>
            <div class="row g-5">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="service-icon mdi-format-size " style=" color:white ">
                                @Html.Raw(item.Icon)
                            </div>
                            <h4 class="mb-3">@item.Title</h4>
                            <p class="m-0">@item.Description</p>
                            @if (item.IconUrl != null)
                            {

                                <a class="btn btn-lg btn-primary rounded-pill" asp-controller="@item.IconUrl" asp-action="Index">
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            }
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

}