
@{
    ViewData["Title"] = "Holiday";
}

<div class="container-fluid bg-primary py-5">
    <div class="container py-5">
                <div >
                    <h1  style="text-align:center"class="display-4">Bugün bayramdır, anlayışla qarşılayacağınızı ümid edirik təşəkkürlər:)</h1>
                </div>
    </div>
</div>

