@{
    ViewData["Title"] = "Default";
}

@model List<MessageGetDto>
<!-- Testimonial Start -->
@if (Model.Count != 0)
{
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Rəylər</h5>
                <h1 class="display-4">Pasiyentlərimiz haqqımızda nə deyir</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">

                        @foreach (var item in Model)
                        {

                            <div class="testimonial-item text-center">
                                <div class="position-relative mb-5">
                                    <img class="~/assets/img-fluid rounded-circle mx-auto" src="~/assets/img/download.png" alt="">
                                    <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                        <i class="fa fa-quote-left fa-2x text-primary"></i>
                                    </div>
                                </div>
                                <p class="fs-4 fw-normal">@item.Letter</p>
                                <hr class="w-25 mx-auto">
                                <h3>@item.UserName</h3>
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Testimonial End -->
